@import "tailwindcss";

@source "../**/*.tsx";
@source "../../public/**/*.html";

@custom-variant dark (&:is(.dark *));

html,
body {
  @apply h-full;
}

body {
  @apply overflow-x-hidden min-h-screen bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
}
